<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Start</title>
	 
	
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    

</head>

<body>
<div th:replace="~{fragments/header :: header}"> Header

</div>

<main role="main" class="container">

    <div class="starter-template">
        <h1>start page</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <ol>
        <li th:each="task : ${tasks}" th:text="${task}"></li>
    </ol>

</main>
<!-- /.container -->
  
 <div th:replace="~{fragments/footer :: footer}"> Footer</div>
</body>
</html>