<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Список индустрий</title>
	 
	
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="~{fragments/header :: header}"> Header

</div>
    <div role="main" class="container">
      
          <div class="starter-template">
              <h1>Список индустрий</h1>
          
   </div>
          <div class="row">
            <button type="button" class="btn btn-primary mb-2 mr-sm-2" data-toggle="modal" data-target="#editIndustry" data-industryid="0" data-chname=""  >Добавить индустрию</button>
          </div>
          <div th:each="ind : ${industryes}">
	          <div class="row">	
	              
	                <div class="input-group mb-12 mr-sm-12">  
	                <fieldset disabled>
	                <input type="text"  class="form-control mb-8 mr-sm-8"  th:value="${ind.name}">
	               </fieldset>
	                
	                  <button type="button" class="btn btn-primary mb-2 mr-sm-2" data-toggle="modal" data-target="#editIndustry" th:attr="data-industryid=${ind.id}, data-indname=${ind.name}">Редактировать</button>
	                  <button type="button" class="btn btn-danger mb-2 mr-sm-2"  data-toggle="modal" data-target="#deleteIndustry" th:attr="data-industryid=${ind.id}" >Удалить</button>
	                </div>
	            
	          </div>
          </div>


        <div class="modal fade" id="editIndustry" tabindex="-1" aria-labelledby="industryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="industryModalLabel">Редактирование индустрии</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="form-inline" action="#" th:action="@{/industryadd}" method="post">
                    <div class="modal-body">
                            <div class="form-group">
                            <label for="">Название индустрии</label>
                            <input type="text" name="indname" id="indname" class="form-control mx-sm-3" aria-describedby="Введите название канала">
                            <input type="hidden" name="indid" id="indid" />
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
              </div>
            </div>
          </div>

          <div class="modal fade" id="deleteIndustry" tabindex="-1" aria-labelledby="industryModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="industryModalLabel">Удаление индустрии</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" action="#" th:action="@{/industrydell}" method = "post">
                        <div class="modal-body">
                                <div class="form-group">
                               		<input type="hidden" name="inddelid" id="inddelid" />
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>    
                </div>

              </div>
            </div>
          </div>
      
      </div>

 <div th:replace="~{fragments/footer :: footer}"> Footer</div>
<script type="text/javascript" th:src="@{/js/industrymodal.js}"></script>
</body>
</html>
