<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Список менеджеров</title>
	 
	
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<div th:replace="~{fragments/header :: header}"> Header

</div>
      <div role="main" class="container">
      
          <div class="starter-template">
              <h1>Список менаджеров</h1>
          
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary mb-2 mr-sm-2" data-toggle="modal" data-target="#editManager" data-managername="" data-manageremail=""  data-managerphone=""  data-managerid="0" >Добавить менаджера</button>
          </div>
          
          <div th:each="manager : ${managers}">
	          <div class="row">	
	              
	                <div class="input-group mb-12 mr-sm-12">  
	                <fieldset disabled>
	                <input type="text"  class="form-control mb-8 mr-sm-8"  th:value="${manager.fullName}">
	               </fieldset>
	                
	                  <button type="button" class="btn btn-primary mb-2 mr-sm-2" data-toggle="modal" data-target="#editManager" th:attr="data-managername=${manager.fullName},  data-manageremail=${manager.email},  data-managerphone=${manager.phone}, data-managerid=${manager.id}"  >Редактировать</button>
	                  <button type="button" class="btn btn-danger mb-2 mr-sm-2"  data-toggle="modal" data-target="#deleteManager" th:attr="data-managerid=${manager.id}">Удалить</button>
	                </div>
	            
	          </div>
          </div>



        <div class="modal fade" id="editManager" tabindex="-1" aria-labelledby="managerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="managerModalLabel">Редактирование менеджера</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form th:action="@{/manageradd}"  method = "post">
                    <div class="modal-body">

                        <div class="form-row">
                            <div class="form-group">
                                <label for="managername">Ф.И.О. Менеджера</label>
                                <input type="text" name="managername"  id="managername" class="form-control mx-sm-5"  aria-describedby="Введите Ф.И.О менеджера">
                            </div>
                            <div class="form-group">
                                <label for="managerphone">Телефон</label>
                                <input type="text" name="managerphone"  id="managerphone" class="form-control mx-sm-5" value="" aria-describedby="Введите контактный телефон">
                            </div>
                            <div class="form-group">
                                <label for="manageremail">Email </label>
                                <input type="email" name="manageremail"  id="manageremail" class="form-control mx-sm-5" value="" aria-describedby="Введите Email ">
                            </div>
                            <input type="hidden" name="managerid" id="managerid" value=""/>
                    	</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
      </div>  
          <div class="modal fade" id="deleteManager" tabindex="-1" aria-labelledby="managerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="managerModalLabel">Удаление контрагента</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" th:action="@{/managerdell}"  method = "post">
                        <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" name="managerdelid" id="managerdelid" value=""/>
                                </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>    
                </div>

              </div>
            </div>
          </div>
      

 <div th:replace="~{fragments/footer :: footer}"> Footer</div>
<script type="text/javascript" th:src="@{/js/managermodal.js}"></script>
</body>
</html>
